* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 100%,
    rgba(9, 9, 121, 0.6250875350140056) 100%,
    rgba(0, 212, 255, 1) 100%
  );
}

.wish-logout {
  gap: 1rem;
}
